/// @group px-table-view
/// Mixins
@import "variables";
@import "mixins";



@include block('table-row'){
  font-size       : $table-row-font-size;

  background-color: $table-row-background-color;
  background-color: var(--table-row-background-color, $table-row-background-color);
  ///---------------------------------------------------------------------------
  ///.table-row__title
  @include element ('title') {
    //font-size  : $table-row-title-font-size;
    //color      : $table-row-title-font-color;
  }
  ///.table-row__title
  @include element ('subtitle') {
    font-size  : $table-row-subtitle-font-size;
    color      : $table-row-subtitle-font-color;
  }
  @include element ('body') {
    color      : $table-row-body-font-color;
    font-size  : $table-row-body-font-size;
  }
  ///.table-row__label
  @include element ('label') {
    color       : $table-row-label-color;
  }

  @include modifier ('header') {
    font-size       : $table-row-header-font-size;
    font-weight     : 500;
    background-color: $table-row-header-background-color;
    color           : $table-row-header-font-color;
    text-transform  : $table-row-header-text-transform;
    text-shadow     : none;
  }
  @include modifier ('tappable') {
    &:active {
      transition      : none;
      background-color: $table-row-active-background-color !important;
      .table-row__label {
        color: $table-row-active-font-color;
      }
      .table-row__content {
        color: $table-row-active-font-color !important;
      }

      .table-row__title {
        color: $table-row-active-font-color !important;
      }

      .table-row__body {
        color: $table-row-active-font-color !important;
      }
    }
  }

  ///.table-view--flush
  @include modifier ('flush') {
    padding: 0 !important;
    line-height: normal;
  }
  ///.table-view--tiny
  @include modifier ('tiny') {
    font-size: $inuit-base-spacing-unit--tiny;
    padding  : $table-view-padding--tiny !important;
    .table-row__title{
      font-size: $inuit-base-spacing-unit--tiny;
    }
  }

  ///.table-view--small
  @include modifier ('small') {
    font-size: $inuit-base-spacing-unit--small;
    padding  : $table-view-padding--small !important;
    .table-row__title{
      font-size: $inuit-base-spacing-unit--small;
    }
  }

  ///.table-view--large
  @include modifier ('large') {
    font-size: $inuit-base-spacing-unit--large;
    padding  : $table-view-padding--large !important;
  }

  ///.table-view--huge
  @include modifier ('huge') {
    font-size: $inuit-base-spacing-unit--huge;
    padding  : $table-view-padding--huge !important;

  }

  ///.table-row--tappable
  @include modifier ('tappable') {
    @include noselect();
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    cursor: pointer;

  }
  ///.table-row--chevron
  @include modifier ('chevron') {
    @include noselect();
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);

    &:active {
      @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    }
    @include tableRowIcon($table-row-chevron-icon, $table-row-chevron-icon-color) {
      &:active {
        color: $table-row-active-font-color;
      }
    }

  }
  ///.table-row--detail
  @include modifier ('detail') {
    .table-row__content {
      // flex-direction: row;
    }
    @include tableRowIcon($table-row-detail-icon, $table-row-detail-icon-color) {
      &:active {
        color: $table-row-active-font-color;
      }
    }
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color) {
      &:active {
        color: $table-row-active-font-color;
      }
    }
  }

  ///.table-row--order
  @include modifier ('order') {
    @include tableRowIcon($table-row-order-icon, $table-row-order-icon-color);
  }
  ///.table-row--edit
  @include modifier ('edit') {
    @include tableRowIcon($table-row-edit-icon, $table-row-edit-icon-color) {
      &:before {
        left : 5px;
        right: auto;
      }
    }
  }

  ///.table-row--nav-left
  @include modifier ('nav-left') {
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    @include tableRowIcon( '\f104');
  }
  ///.table-row--collapsable
  @include modifier ('collapsable') {
    @include tableRowIcon( '\f107');
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
  }


}
